.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
}

.footer-content-left , .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.footer-content-left img {
  width: 140px;          /* smaller, more balanced */
  margin-bottom: 0px;   /* spacing under logo */
}

.footer-content-left p {
  color: #bdbdbd;
  font-size: 18px;
  margin-top: 0; 
  line-height: 1.5;
  padding-top: 0; 
  max-width: 500px;      /* prevents text from stretching too wide */
}

.footer-content-left li, .footer-content-right li, .footer-content-center li{
   list-style: none;
   margin-bottom: 10px;
   cursor: pointer;
}

.footer-content-right h2, .footer-content-center h2{
    color: white;

}
.footer-social-icons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}
.footer-social-icons img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%; 
}
.footer-social-icons img:hover {
  transform: scale(1.1);
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}
@media (max-width:750px) {
  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copyright{
    text-align: center;
  }
}